
.form-control:focus{
    box-shadow: none !important;
    margin-top: 10px !important;
  }
  .page-head{
    text-align: center;
    font-size: xx-large;
  
  }
  .input{
    margin-top: 15px !important;
  }
  
  .row button{
    color: white;
  }
  .register-form{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  background-color: white;
  
  }
  .registration-parent{
    min-height: 100vh;
    background-color: aliceblue;
    
  
  }
  .registration-parent .row{
    height: 100vh;
    align-items: center;
  
  }
  .row button{
    color: white;
  }
  .login-form{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 20px;
  background-color: white;
  
  }
  .login-parent{
    min-height: 100vh;
    background-color: aliceblue;
    
  
  }
  .login-parent .row{
    height: 100vh;
    align-items: center;
  
  }
  .login-page-head{
      color: rgb(0, 0, 0) !important;
      font-size: 50px ;
      font-family:  fantasy;
      margin-left: 50px;
      
  
  }
  